.headerContainer {
  background-color: var(--color-header-bg);
  color: #f0f0f0;
  padding: 20px;
  text-align: center;
}

.header {
  margin-bottom: 10px;
  color: #f0f0f0;
}

nav {
  font-size: 25px;
}

.navLink {
  color: #f0f0f0;
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;
}

.navLink:hover {
  text-decoration: underline;
}
