:root {
  --btn-bg: royalblue;
  --btn-color: white;
}

.btn {
  background-color: var(--btn-bg);
  color: var(--btn-color);
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
}
